{% extends "base.html" %}
{% block bodyid %}index{% endblock %}
{% block title %}Rapporteer{% endblock %}
{% block content %}
<h1>Welkom bij NRGWeb</h1><br/>
NRGWeb is al sinds jaar en dag een begrip op het gebied van particuliere energieproductie. Op deze pagina kunt u de energieproductie van al uw apapratuur invoeren, beheren en bekijken. Tevens kunt u vergelijkingen maken met andere gebruikers en uw gehele omgeving.
<br/><br/>
Wacht dus niet langer en registreer vandaag nog! Het is gratis :-).
{% endblock %}
