{% extends "base.html" %}
{% block bodyid %}login{% endblock %}
{% block title %}Inloggen{% endblock %}
{% block content %}
<h1>Inloggen</h1><br/>
Om in te loggen kunt u hieronder uw inloggegevens invoeren. Hebt nog geen inloggegevens dan kunt u zich gratis <a href="{% url 'nrgweb:register' %}">registreren</a>.
<br/><br/>

<form action="{% url 'nrgweb:login' %}" method="post">
{% csrf_token %}
<fieldset class="registration">
     <legend>Login-gegevens</legend>
<table>
{% for field in form %}
	<tr>
		<td>
			{{ field.label_tag }}:
		</td>
		<td>
			{{ field }}
		</td>
		<td>{{ field.errors }}
	</tr>
{% endfor %}
</table>
<input type="submit" class="registration_textbox" value="Login" />
	
</fieldset>
</form>
{% endblock %}
