{% extends "base.html" %}
{% block title %}Registreren{% endblock %}
{% block content %}
<h1>Registreren</h1>

<form action="{% url 'nrgweb:register' %}" method="post">
{% csrf_token %}
<fieldset class="registration">
     <legend>Gegevens huishouding</legend>
<table>
{% for field in form %}
	<tr>
		<td>
			{{ field.label_tag }}:
		</td>
		<td>
			{{ field }}
		</td>
		<td>{{ field.errors }}
	</tr>
{% endfor %}
</table>
		<div class="registration_input" >	    
	        <input type="submit" class="registration_textbox" value="Registreer!" />
		</div>
	
</fieldset>
</form>
{% endblock %}
